<div class="container">
  <h1 class="pageTitle">#About Me</h1>
  <div class="row">
    <div class="col">
      <p>As a Full Stack Web & Mobile Developer , my objective is to make a positive impact on clients, co-workers, and the Internet using my skills and experience.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Baljeet Singh</h2>
      <h4>Full Stack Web &amp; Mobile Developer</h4>
      <p>As a Full Stack Web &amp; Mobile Developer , my objective is to make a positive impact on clients, co-workers, and the Internet using my skills and experience to design &amp; develop compelling and attractive websites, web apps &amp; mobile apps. I enjoy working on projects that involve a mix of web and graphic design, web development, mobile application development, database management and programming.</p>
    </div>
    <div class="col">
      <p>
        <strong>– HTML5, Twitter Bootstrap, Sass, Jquery, AngularJS</strong><br>
        <strong> – Phonegap / Ionic Framework</strong><br>
        <strong> – PHP With MVC (OOPS),Laravel, WordPress, ExpressJS</strong><br>
        <strong> – E-commerce solutions with WooCommerce</strong>
      </p>
    </div>
  </div>
</div>
